.taskboard {
  display: flex;
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.task-column {
  height: 500px;
}

.task {
  display: block;
  width: 80px;
  height: 50px;
  padding: 5px;

  cursor: grab;
  border: 1px solid;
}

.grabbed {
  position: absolute;
  pointer-events: none;

  /* cursor: grabbing; */
}

.keep-grabbing {
  cursor: grabbing;
}